@model SchoolMS.Web.ViewModels.Subjects

<h4>Subjects</h4>
<hr />
@if (TempData["AddD"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr["error"]('@TempData["AddD"]');

    </script>
}


<div>
    <a class="btn btn-primary" href="javascript:void(0)" onclick="Add('@Model.ListSubjects[0].ClassId')">Add new</a>
    @* <a href="#" onclick="Add('asp-for="ListSubjects[0].ClassId" ')" class="text-danger" title="Details">Add New Subject</a> *@
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div id="subject-container">
                <div class="subject-group" data-index="0">
                    <div class="form-group">
                        <label asp-for="ListSubjects[0].Name" class="control-label"></label>
                        <input asp-for="ListSubjects[0].Name" class="form-control" placeholder="Enter Name" />
                        <span asp-validation-for="ListSubjects[0].Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ListSubjects[0].Code" class="control-label"></label>
                        <input asp-for="ListSubjects[0].Code" class="form-control" placeholder="Enter Code" />
                        <span asp-validation-for="ListSubjects[0].Code" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ListSubjects[0].ClassId" class="control-label"></label>
                        <input asp-for="ListSubjects[0].ClassId" class="form-control"  disabled/>
                        <input type="hidden" asp-for="ListSubjects[0].ClassId" class="form-control"  />
                        
                        <span asp-validation-for="ListSubjects[0].ClassId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" asp-action="CreateSubject" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript">

        var index = 1;
        function Add(id) {

                var newSubject = `
                            <div class="subject-group" data-index="${index}">
                                <div class="form-group">
                                    <label for="ListSubjects_${index}__Name" class="control-label">Name</label>
                                    <input name="ListSubjects[${index}].Name" class="form-control" placeholder="Enter Name" />
                                    <span class="text-danger" data-valmsg-for="ListSubjects[${index}].Name" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group">
                                    <label for="ListSubjects_${index}__Code" class="control-label">Code</label>
                                    <input name="ListSubjects[${index}].Code" class="form-control" placeholder="Enter Code" />
                                    <span class="text-danger" data-valmsg-for="ListSubjects[${index}].Code" data-valmsg-replace="true"></span>
                                </div>
                                <div class="form-group">
                                    <label for="ListSubjects_${index}__ClassId" class="control-label">Class ID</label>
                                     <input name="ListSubjects[${index}].ClassId" class="form-control" placeholder="Enter Class Id" value='${id}' disabled   />
                                    <input type="hidden" name="ListSubjects[${index}].ClassId" class="form-control"  value='${id}'  />
                                    <span class="text-danger" data-valmsg-for="ListSubjects[${index}].ClassId" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        `;
                index++;
                $("#subject-container").append(newSubject);




        }
        $(document).ready(() => {
        
            
            
            // $("#addbtn").click(function () {
            //     var newSubject = `
            //                 <div class="subject-group" data-index="${index}">
            //                     <div class="form-group">
            //                         <label for="ListSubjects_${index}__Name" class="control-label">Name</label>
            //                         <input name="ListSubjects[${index}].Name" class="form-control" placeholder="Enter Name" />
            //                         <span class="text-danger" data-valmsg-for="ListSubjects[${index}].Name" data-valmsg-replace="true"></span>
            //                     </div>
            //                     <div class="form-group">
            //                         <label for="ListSubjects_${index}__Code" class="control-label">Code</label>
            //                         <input name="ListSubjects[${index}].Code" class="form-control" placeholder="Enter Code" />
            //                         <span class="text-danger" data-valmsg-for="ListSubjects[${index}].Code" data-valmsg-replace="true"></span>
            //                     </div>
            //                     <div class="form-group">
            //                         <label for="ListSubjects_${index}__ClassId" class="control-label">Class ID</label>
            //                         <input name="ListSubjects[${index}].ClassId" class="form-control" placeholder="Enter Class Id" />
            //                         <span class="text-danger" data-valmsg-for="ListSubjects[${index}].ClassId" data-valmsg-replace="true"></span>
            //                     </div>
            //                 </div>
            //             `;
            //     index++;
            //     $("#subject-container").append(newSubject);
            // });
        });
    </script>
}
